.header-5 {
    box-sizing: border-box;
    width: 100%;
    background-color: #f16272;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 0.8em;
    font-size: 1.2em;
}

.header-nav-list {
    display: flex;
    align-items: center;
}

.header-nav-item {
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    list-style: none;
    cursor: pointer;
}
.-mr0 {
    margin-right: 0;
}

a {
    text-decoration: none;
}

.header-ham {
    display: none;
}

.menu2 {
    width: 20px;
    height: 3px;
    margin: 4px 0;
    margin-right: 0;
    background-color: #333;
}

.select {
    color: #444;
}

.header-nav-item:hover {
    color: #444;
}
